<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL문 작성 -->
<mapper namespace="com.exam.mybatis.boardMapper">
	<!-- id="본인 마음대로 지어도 된다. 이 이름으로 dao에서 호출"  -->
	<insert id="write" parameterType="Board">
		INSERT INTO simpleBoard(bNo, bTitle, bWriter, bContent)
		VALUES(seq_bno.nextVal, #{bTitle}, #{bWriter}, #{bContent})
	</insert>
</mapper>